<div class="container">
    <div class="container-texto">
        <h1>Controle de Estoque</h1>
        <p>
            Gerencie produtos, entradas e sa铆das em um s贸 lugar.
            Ideal para pequenos neg贸cios e controle interno.
        </p>
        <ul>
            <li> Produtos
                Controle completo com c贸digo 煤nico (SKU)
            </li>
            <li>
                 Movimenta莽玫es
                Entradas e sa铆das registradas automaticamente
            </li>
            <li>
                 Hist贸rico
                Visualize tudo o que entrou e saiu
            </li>
            <li>
                 Categorias
                Organize seus produtos por tipo
            </li>
        </ul>
    </div>
    <p>Ainda n茫o tem conta? <span><a href="/auth/register">clique aqui</a></span></p>

</div>