* {
    margin: 0;
    padding: 0;
    background-color: #0a7db5;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ffffff;
}

.navbar img {
    max-width: 100px;
    height: 100px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin-left: auto;
    margin-right: 1em;
}

.navbar ul li a {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: #ffffff;
    cursor: pointer;
    transform: translateY(-2px);
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 65vh;
    padding: 2em;
}

.container p {
    margin-top: 2em;
    font-size: 20px;
}

.container a {
    text-decoration: none;
    color: #0018ff;
}

.container a:hover {
    color: #5464f0;
}

.container-texto {
    text-align: center;
}

.container-texto p {
    font-size: 20px;
}

.container-texto h1 {
    margin-bottom: 1em;
}

.container-texto ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-texto ul li {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    font-size: 20px;
}

/* MESSAGE */
.message {
    padding: 1em;
    color: #fff;
    background-color: #0018ff;
    border: 1px solid #0018ff;
    border-radius: 5px;
    text-align: center;
    margin: 0.5em auto 2em;
    max-width: 60%;
}

/* LOGIN & REGISTER */
.auth-container {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 68vh;
}

.auth-container h2 {
    margin-bottom: 1em;
    color: #fff;
    padding: .3em;
    width: 320px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .5em;
}

.form-control input {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    width: 300px;
}

.form-control input::placeholder {
    font-weight: bold;
}

form input[type='submit'] {
    background-color: #0018ff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #0018ff;
    font-weight: bold;
}

form input[type='submit']:hover {
    background-color: #5464f0;
    color: #ccc
}

.auth-container p {
    margin-top: 1.5em;
}

.auth-container a {
    text-decoration: none;
}

.auth-container span {
    color: #0018ff;
}

.auth-container span:hover {
    color: #5464f0;
}

/* ADD CONTAINER */

.add-container {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 68vh;
}

.add-container h2 {
    color: #fff;
    padding: .3em;
    width: 320px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .5em;
}

.form-control input {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    width: 300px;

}

.form-control input:focus {
    outline: none;
    border: 3px solid #ffffff;
    /* Borda branca fina */
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.form-control input::placeholder {
    font-weight: bold;
    color: #fff
}

form input[type='submit'] {
    background-color: #0a7db5;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #fff;
    font-weight: bold;
}

form input[type='submit']:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
    border: 1px solid #fff;
    transform: translateY(-2px);
}

.add-container p {
    margin-top: 1.5em;
}

.add-container a {
    text-decoration: none;
}

.add-container span {
    color: #0018ff;
}

.add-container span:hover {
    color: #5464f0;
}

textarea {
    width: 315px;
    height: 30px;
    border-color: #fff;
    border-radius: 5px;
    padding: .5em;
}

textarea::placeholder {
    font-weight: bold;
    color: #ccc
}

textarea:focus {
    outline: none;
    border: 3px solid #ffffff;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

/* PRODUCTS CONTAINER */
.products-container {
    display: flex;
    gap: 24px;
    margin: 20px 0;

    padding: 12px 16px;
    border-radius: 8px;

    background-color: #0a7db5;
    color: #fff;
}

/* CARD CONTAINER */
.container-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.card-estoque {
    background-color: rgba(255, 255, 255, 0.1);
    width: 200px;
    height: 180px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.card-estoque i {
    font-size: 3rem;
    margin-bottom: 15px;
    background-color: transparent;
}

.card-estoque span {
    font-size: 1.1rem;
    font-weight: 500;
    background-color: transparent;
}

.card-estoque:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.products-category {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    width: 250px;
    height: 200px;
    padding: 20px;
}

.product-card span {
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
}

.product-info {
    margin-top: 10px;
    background-color: transparent;
    text-align: center;
}

.product-info p {
    height: 80px;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: transparent;
}

.form-actions {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    background-color: transparent;
}

.edit-btn,
.delete-btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-edit:hover,
.delete-btn:hover {
    background-color: white;
    color: #007bff;
}



.form-search form {
    display: flex;
    align-items: center; /* Alinha os centros verticalmente */
    justify-content: center;
    gap: 10px;

}

.form-search input[type="search"] {
    padding: 10px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    outline: none;
    margin-top: 1em;
}

.form-search input[type="submit"] {
    margin-top: 1.1em;
    width: 100px;
    font-size: 13px;
    height: 37px;
    padding: .5em;
}

.form-search input[type="search"]:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
    border: 1px solid #fff;
}

.form-search input[type="search"]::placeholder {
    color: #fff;
    font-weight: bold;
}

.form-search input[type="search"]:focus {
    border-color: #fff;
    border-radius: 5px;
    padding: .5em;
}

/* FOOTER */
footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ffffff;
}

footer span {
    font-weight: bold;
    color: #ffffff;
}