* {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ffffff;
}

.navbar img {
    max-width: 100px;
    height: 100px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin-left: auto;
    margin-right: 1em;
}

.navbar ul li a {
    display: inline-block;
    background-color: #0018ff;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.navbar ul li a:hover {
    background-color: #5464f0;
    cursor: pointer;
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 65vh;
    padding: 2em;
}

.container p {
    margin-top: 2em;
    font-size: 20px;
}

.container a {
    text-decoration: none;
    color: #0018ff;
}

.container a:hover {
    color: #5464f0;
}

.container-texto {
    text-align: center;
}

.container-texto p {
    font-size: 20px;
}

.container-texto h1 {
    margin-bottom: 1em;
}

.container-texto ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-texto ul li {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    font-size: 20px;
}

/* MESSAGE */
.message {
    padding: 1em;
    color: #fff;
    background-color: #0018ff;
    border: 1px solid #0018ff;
    border-radius: 5px;
    text-align: center;
    margin: 0.5em auto 2em;
    max-width: 60%;
}

/* LOGIN & REGISTER */
.auth-container {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 68vh;
}

.auth-container h2 {
    margin-bottom: 1em;
    color: #fff;
    padding: .3em;
    width: 320px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .5em;
}

.form-control input {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    width: 300px;
}

.form-control input::placeholder {
    font-weight: bold;
}

form input[type='submit'] {
    background-color: #0018ff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #0018ff;
    font-weight: bold;
}

form input[type='submit']:hover {
    background-color: #5464f0;
    color: #ccc
}

.auth-container p {
    margin-top: 1.5em;
}

.auth-container a {
    text-decoration: none;
}

.auth-container span {
    color: #0018ff;
}

.auth-container span:hover {
    color: #5464f0;
}

/* ADD CONTAINER */

.add-container {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 68vh;
}

.add-container h2 {
    color: #fff;
    padding: .3em;
    width: 320px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .5em;
}

.form-control input {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    width: 300px;
}

.form-control input::placeholder {
    font-weight: bold;
}

form input[type='submit'] {
    background-color: #0018ff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #0018ff;
    font-weight: bold;
}

form input[type='submit']:hover {
    background-color: #5464f0;
    color: #ccc
}

.add-container p {
    margin-top: 1.5em;
}

.add-container a {
    text-decoration: none;
}

.add-container span {
    color: #0018ff;
}

.add-container span:hover {
    color: #5464f0;
}

textarea {
    width: 315px;
    height: 30px;
    border-color: #fff;
    border-radius: 5px;
    padding: .5em;
}

textarea::placeholder {
    font-weight: bold;
    color: #ccc
}

/* PRODUCTS CONTAINER */
.products-container {
    position: fixed;
    right: 20px;

    background-color: #0018ff;
    color: #fff;

    padding: 16px 20px;
    border-radius: 10px;

    width: 220px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.products-container h3 {
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    margin: 0;
}



.list {
    padding: 0;
    margin: 5px 0 0;
    background-color: transparent;
}

.list-item {
    list-style: none;
    font-size: 14px;
    margin-bottom: 4px;
    background-color: transparent;
}

.products-container strong {
    background-color: transparent;
    margin-right: 4px;
}

/* FOOTER */
footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ffffff;
}

footer span {
    font-weight: bold;
    color: #ffffff;
}