* {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ffffff;
}

.navbar img {
    max-width: 100px;
    height: 100px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin-right: 1.5em;
}

.navbar ul li a {
    display: inline-block;
    background-color: #0018ff;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.navbar ul li a:hover {
    background-color: #5464f0;
    cursor: pointer;
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 65vh;
    padding: 2em;
}

.container p {
    margin-top: 2em;
    font-size: 20px;
}

.container a {
    text-decoration: none;
    color: #0018ff;
}

.container a:hover {
    color: #5464f0;
}

.container-texto {
    text-align: center;
}

.container-texto p {
    font-size: 20px;
}

.container-texto h1 {
    margin-bottom: 1em;
}

.container-texto ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.container-texto ul li {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    font-size: 20px;
}

/* FOOTER */
footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ffffff;
}

footer span {
    font-weight: bold;
    color: #ffffff;
}